<html>
<head>
	<title>UniComparator</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">

	<!-- custom CSS-->
	<link rel="stylesheet" href="stylesheets/main.css">
  


</head>		



<body>
  <!--NAVBAR=====================-->
  <div class="navbar navbar-default">
    <div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/"><img src ="images/logo2.png"></a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav"> 
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/userpage">{{ username }}</a></li>
      <li><a href="/homepage">Home</a></li>
      <li class="dropdown">
          <a href="#">View by<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/budget">Budget</a></li>
            <li><a href="/region">Region</a></li>
            <li><a href="/ranking">Ranking</a></li>
          </ul>
        </li>
      <li><a href="/aboutus">About Us</a></li>
      <li><a href="{{ logout }}">Logout</a></li>
    </ul>
  </div>
  </div>
  </div>

<!--FILTERED=========================================================================-->

<div class="container sch-container">
  <div class="row">
    {% for i in query%}
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="{{i.pic_sml}}" style="padding-top: 8px;">
        <div class="schoolcaption" style="text-align:center; margin-top:10px;">
          <h4>{{i.rank_avg}}. {{ i.name }}</h4>
            <div class="view-add-container">
              <form action="/search" method="get">
              <input type="hidden" name="uni_name" value="{{ i.name }}">
              <button type="submit" class="btn btn-info view-btn" role="button">View</button>
              </form>

            <form action="#" method="get">
              <input type="hidden" name="uni_name" value="{{ i.name }}">
              <button type="submit" class="btn btn-success add-btn">Add</button>
            </form>
          </div>

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div><!--closing tag for conatiner-->

  <a href="/userpage" class="fav-counter"><div>Favourited: {{counter}}</div></a>
  <a href="#" class="back-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="bootstrap/js/myjs.js"></script>
</body>
</html>