<!DOCTYPE html>

<html>
<head>
	<title>UniComparator</title>
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.css">

	<!-- custom CSS-->
	<link rel="stylesheet" href="stylesheets/main.css">

</head>		

<body>
  <!--NAVBAR=====================-->
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/"><img src ="images/logo2.png"></a>
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav"> 
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a href="/userpage">{{ username }}</a></li>
          <li class><a href="/homepage">Home</a></li>
          <li class="active dropdown">
            <a href="#">View by<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/budget">Budget</a></li>
              <li><a href="/region">Region</a></li>
              <li><a href="/ranking">Ranking</a></li>
            </ul>
          </li>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="{{ logout }}">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
  
  <!--MAP=====================================-->

  <div class="myMAP container">
    <h1>Click on the continent you wish to study in!</h1>
    <img src = "images/mapCROP.png" alt="map" usemap="#map1">
    

    <map name="map1" id="map1">
      <area shape="rect" coords="1098,537,1100,539" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />

      <area  class="region" alt="" title="Africa" href="#Africa" shape="poly" coords="502,171,520,170,529,186,544,192,555,189,597,193,602,206,626,252,636,270,659,272,664,282,624,333,656,364,661,371,653,394,642,414,596,425,573,449,549,446,539,420,526,375,530,343,516,319,512,297,473,295,439,289,422,258,423,229,445,200,462,180,490,172" style="outline:none;" target="_self"     />

      <area  class="region" alt="" title="Australia" href="#Australia" shape="poly" coords="879,427,879,403,898,393,915,385,930,370,946,368,956,358,967,374,977,379,987,363,998,329,1022,354,1018,413,1079,461,1020,495,959,479,949,458,936,441,893,447,875,447" style="outline:none;" target="_self"     />
      <area  class="region" alt="" title="South America" href="#South" shape="poly" coords="212,275,227,265,253,273,280,289,300,296,305,315,342,327,361,343,346,371,340,399,322,410,315,430,303,448,295,450,283,467,276,479,274,494,278,507,291,526,274,521,251,486,238,428,239,396,209,360,200,330,195,334,195,321,205,306" style="outline:none;" target="_self"     />
      <area  class="region" alt="" title="North America" href="#North" shape="poly" coords="203,279,190,274,190,262,187,254,175,250,179,236,171,230,165,236,152,239,146,227,152,209,160,201,174,201,186,198,205,215,212,194,226,182,232,166,260,152,268,144,285,144,310,129,321,125,319,111,455,61,465,19,399,15,372,16,346,11,315,15,290,20,246,39,219,38,196,36,171,44,145,50,104,48,84,49,56,54,33,69,14,96,57,88,83,87,99,110,93,124,75,156,82,184,115,237,145,255,181,276,197,286" style="outline:none;" target="_self"     />
      <area  class="region" alt="" title="Europe" href="#Europe" shape="poly" coords="539,51,561,47,590,55,600,61,596,70,605,135,584,171,565,157,562,169,538,171,523,153,517,146,498,148,485,163,472,173,455,165,455,146,471,145,479,135,474,129,459,109,476,94" style="outline:none;" target="_self"     />

      <area  class="region" alt="" title="Asia" href="#Asia" shape="poly" coords="617,139,616,58,653,47,686,41,744,31,799,37,825,48,858,43,888,49,951,54,990,61,981,78,961,89,967,113,952,99,943,81,921,98,908,92,902,110,917,113,936,123,948,144,953,164,941,181,933,187,982,320,933,348,911,353,865,343,842,327,824,290,820,252,807,238,793,232,776,248,770,272,765,285,753,283,745,242,734,233,716,225,695,219,681,247,652,256,639,263,627,241,618,219,610,206,604,203,614,176" style="outline:none;" target="_self"     />

    </map>

  </div><!--END TAG for mymap-->


  <div class="container sub-headings-container">
    <div id="Asia" class="sub-headings"><h1>Asia</h1></div>
    <hr class="fancy-line"></hr>
    <div class="container sch-container">
      <div class="row">
        {% for i in query_asia %}
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="{{i.pic_sml}}" style="padding-top: 8px;">
            <div class="schoolcaption" style="text-align:center;">
              <h4>{{ i.name }}</h4>
              <div class="view-add-container">
                <form action="/search" method="get">
                  <input type="hidden" name="uni_name" value="{{ i.name }}">
                  <button type="submit" class="btn btn-info view-btn" role="button">View</button>
                </form>

                <form action="#" method="get">
                  <input type="hidden" name="uni_name" value="{{ i.name }}">
                  <button type="submit" class="btn btn-success add-btn">Add</button>
                </form></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div><!--closing tag for conatiner-->
      <div id="Australia" class="sub-headings"><h1>Australia</h1></div>
      <hr class="fancy-line"></hr>
      <div class="container sch-container">
        <div class="row">
          {% for i in query_aust %}
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="{{i.pic_sml}}" style="padding-top: 8px;">
              <div class="schoolcaption" style="text-align:center;">
                <h4>{{ i.name }}</h4>
                <div class="view-add-container">
                  <form action="/search" method="get">
                    <input type="hidden" name="uni_name" value="{{ i.name }}">
                    <button type="submit" class="btn btn-info view-btn" role="button">View</button>
                  </form>

                  <form action="#" method="get">
                    <input type="hidden" name="uni_name" value="{{ i.name }}">
                    <button type="submit" class="btn btn-success add-btn">Add</button>
                  </form></div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div><!--closing tag for conatiner-->
        
        <div id="Europe" class="sub-headings"><h1>Europe</h1></div>
        <hr class="fancy-line"></hr>
        <div class="container sch-container">
          <div class="row">
            {% for i in query_europe %}
            <div class="col-sm-6 col-md-3">
              <div class="thumbnail">
                <img src="{{i.pic_sml}}" style="padding-top: 8px;">
                <div class="schoolcaption" style="text-align:center;">
                  <h4>{{ i.name }}</h4>
                  <div class="view-add-container">
                    <form action="/search" method="get">
                      <input type="hidden" name="uni_name" value="{{ i.name }}">
                      <button type="submit" class="btn btn-info view-btn" role="button">View</button>
                    </form>

                    <form action="#" method="get">
                      <input type="hidden" name="uni_name" value="{{ i.name }}">
                      <button type="submit" class="btn btn-success add-btn">Add</button>
                    </form></div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div><!--closing tag for conatiner-->
          
          <div id="North" class="sub-headings"><h1>North America</h1></div>
          <hr class="fancy-line"></hr>
          <div class="container sch-container">
            <div class="row">
              {% for i in query_america %}
              <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                  <img src="{{i.pic_sml}}" style="padding-top: 8px;">
                  <div class="schoolcaption" style="text-align:center;">
                    <h4>{{ i.name }}</h4>
                    <div class="view-add-container">
                      <form action="/search" method="get">
                        <input type="hidden" name="uni_name" value="{{ i.name }}">
                        <button type="submit" class="btn btn-info view-btn" role="button">View</button>
                      </form>

                      <form action="#" method="get">
                        <input type="hidden" name="uni_name" value="{{ i.name }}">
                        <button type="submit" class="btn btn-success add-btn">Add</button>
                      </form></div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div><!--closing tag for conatiner-->

                <div id="South" class="sub-headings"><h1>South America</h1></div>
                <hr class="fancy-line"></hr>
                    
                      <h4>Sorry, no universities are available for exchange in this continent! :( </h4>
                      </br>    
                <div id="Africa" class="sub-headings"><h1>Africa</h1></div>
                <hr class="fancy-line"></hr>
                
                  <h4>Sorry, no universities are available for exchange in this continent! :( </h4>
                  </br>
          </div>
          
          <a href="/userpage" class="fav-counter"><div>Favourited: {{counter}}</div></a>
          <a href="#" class="back-to-top"><i class="glyphicon glyphicon-chevron-up"></i></a>
          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
          <!-- Latest compiled and minified JavaScript -->
          <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
          <script type="text/javascript" src="bootstrap/js/myjs.js"></script>

        </body>
        </html>